.sepDiv{
  width: 70%;
  border: 2px solid #a18cd1;
}

.container{
  width: 70%;
  margin: auto;
}

.aboutUs{
  font-size: 24px;
  line-height: 32px;
  margin-top: 40px;
}

.container h1{
  font-family: cursive;
  color: #663fc4;
  font-weight: 400;
}

.phoneNumber{
  color: #a18cd1;
}

.inputDiv{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.red{
  color: #663fc4;
}

.contactForm{
  margin-top: 40px;
}

.contactForm label{
font-family: sans-serif;
font-size: 24px;
}

.contactForm input{
  width: 350px;
  height: 35px;
  line-height: 24px;
}


.contactForm textarea{
  width: 450px;
  height: 150px;
}

.submitButton{
  margin-top: 30px;
  padding: 8px 14px;
  width: 250px;
  height: 50px;
  background-color: white;
  color: #a18cd1;
  border: 1px solid #a18cd1;
  border-radius: 6px;
}

.submitButton:hover{
  cursor: pointer;
  background-color: #a18cd1;
  transition: 0.3s;
  color: white;
}