.petForm{
  margin:auto 40px;
}

.textInput{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.textInput input{
  width: 350px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid silver;
}


.textInput select{
  height: 38px;
}

.textInput textarea{
  height: 200px;
  width: 450px;
}


         
  .submitBttn {
    background-image: linear-gradient(to top, #7d69ac 0%, #ec7ecd 100%);
    margin-top: 30px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .submitBttn:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
    opacity: 0.9;
  }

  .goBackBttn{
    background-image: linear-gradient(to top, #7d69ac 0%, #ec7ecd 100%);
    margin-top: 30px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .goBackBttn:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
    opacity: 0.9;
  }
 
