

.container {
  margin: 0 auto;
  width: 70%;
}

 h1 {
  font-family: cursive;
  color: #663fc4;
  font-weight: 400;
}

.sepDiv {
  width: 100%;
  border: 2px solid #a18cd1;
}



.galleryRow {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin: 20px;
  flex-wrap: wrap;
}

.galleryRow h1{
  font-family: cursive;
  color: #663fc4;
  font-weight: 400;
}

.galleryImg{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.galleryContainer{
  flex: 0 0 calc(25% - 20px); 
  width: 280px;
  height: 400px;
  margin: 30px 10px;
  border-radius: 8px;
  border-top: none;
  text-align: center;
  list-style: none;
}


.cardInfo {
  color: #718096;
  font-size: 18px;
}

.galleryContainer:hover{
  cursor: pointer;
  opacity: 0.8;
}

 label{
  font-size: 22px;
  margin-bottom: 5px;
  font-family: cursive;
  color: #663fc4;
}

.goBackBttn{
  border: 1px solid lightblue;
  color: lightblue;
  background-color: white;
  padding: 8px 14px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  margin: 20px;
 }
 .goBackBttn:hover{
   color: white;
   background-color: lightblue;
   transition: 0.3s;
 }




