
.loginText {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 2rem;
}


.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.inputContainer {
  width: 340px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}


.inputField {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}


.input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #475569;
  font-family: sans-serif;
  font-weight: normal;
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: 0.4375rem;
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  transition: border-color 0.2s ease-in-out;

}

.input:focus {
  border-color: #1f2937;
}


.button {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #9ca3af;
  font-size: 0.875rem;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.input:not(:placeholder-shown) + .button,
.input:focus + .button {
  top: 0;
  transform: translateY(-50%);
  font-size: 0.6875rem;
  color: #1f2937;
}

.input:not(:placeholder-shown) + .button::before,
.input:focus + .button::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #1f2937;
  position: absolute;
  bottom: 0;
  left: 0;
}


.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh;
}




.loginButton {
  width: 340px;
  height: 60px;
  color: #a18cd1;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #a18cd1;
}

.loginButton:hover {
  color: #ffffff;
  background-color: #a18cd1;
  transition: all 0.3s;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputContainer{
  width: 340px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.inputField{
  position: relative;
  width:100% ;
  min-width: 200px;
  height: 60px;
}

.grayText{
color: #475569;
}

.fPass{
  justify-items: start;
  color: #475569;
}